@import "./Variables";
////////////////////////////
a{
  text-decoration: none;
}
*{
  font-family: "Roboto Slab", sans-serif !important;
  box-sizing: border-box;
}

////////////////////// text colors
.red{
  color: $red-1;
}
.green{
  color: $green-1;
}
.orange{
  color: $orange-1;
}
.blue{
  color: $blue-1;
}

.text-blue-2{
  color: $blue-2;
  &:hover{
    color: $blue-2;

  }
}
.text-orange-2{
  color: $orange-2;
  &:hover{
    color: $orange-2;

  }
}
.text-green-2{
  color: $green-2;
  &:hover{
    color: $green-2;

  }
}

///////////////////// bg colors

.bg-red{
  background: $red-1;
}
.bg-green{
  background: $green-1;
}
.bg-orange{
  color: #f68c09;
  background: #fde3c4;
}
.bg-blue{
  background: #dbf3fe;
  color: #2db6fa;
}
.bg-green{
  color: #08da4e;
  background: #cffddf;
}
.bg-green-3{
  background: $green-3;
}
.bg-orange-3{
  background: $orange-3;
}
.bg-blue-3{
  background: $blue-3;
}
///////////////////////////////////
.border-blue{
  border-bottom: 3px solid #2db6fa;
}
.border-orange{
  border-bottom: 3px solid #f68c09;
}
.border-green{
  border-bottom: 3px solid #08da4e;
}
.navbar{
  transition: all 600ms ease-in-out;
}
.pointer{
  cursor: pointer;
}
.scale_hover{
  transition: all 250ms linear;
  &:hover{
    transform: scale(1.1);
  }
}