@import "~bootstrap";
@import "./Utilities";
@import "./Variables";
$intro:"../images/intro.png";
/////////// intro section
#intro{
  background: url($intro) no-repeat center center/cover;

}
/////////// company intro
#company_intro{
  .content{
    background-color: rgba(107,176,191,0.2);
  }

}
//////////////// feature
#feature{
  i{
    font-size: 3rem;
  }
}
////////////////// service
#services{
  .blue_card{
    transition: all 250ms ease-out;
    &:hover {
      background:$blue-2 ;
      color: $blue-3!important;
      a{
        color: $blue-3!important;
      }
    }
  }
  .orange_card{
    transition: all 250ms ease-out;

    &:hover {
      color: $orange-3;
      background:$orange-2 ;
      a{
        color: $orange-3!important;
      }
    }
  }
  .green_card{
    transition: all 250ms ease-out;

    &:hover{
      color: $green-3;
      background:$green-2 ;
      a{
        color: #cffddf!important;

      }
    }
  }
}
/////////////// queries
@media (max-width: 768px) {
  nav{
    background-color: #fff;

  }
  #intro{
    h3,span{
      text-align: center!important;
    }
    span{
      font-size: 1.2rem!important;
    }
    .btn-container{
      text-align: center;
    }
  }
}
////////////////
 #plans{
   .plans-card{
     font-size: 1.15rem;
   }
 }

