@import "~bootstrap";
$intro:"../images/intro.png";
////////////////////////////////////
*{
  font-family: "Roboto Slab", sans-serif !important;
  box-sizing: border-box;
}
.navbar{
  transition: all 600ms ease-in-out;
}
/////////// intro section
#intro{
  background: url($intro) no-repeat left center/cover;
  h3{
    word-break: break-all;
  }
}
////////////////
.scale_hover{
  transition: all 250ms linear;
  &:hover{
    transform: scale(1.1);
  }
}